.body

	%hr.red
	%img.tag{src:"/assets/tag-calendar.png"}
	%h1.red.tag-headline
		= @event.title

	%div{style:"height:30px"}

	.row-fluid
		.span6
			= editable_image_tag "Event #{@event.id} Header", 400, 400
			%div{style:"height:20px;"}
			%a.btn2.btn2-green{href:"/pages/hours-calendar"}
				= image_tag "arrow-white-left.png"
				Back to all events

		.span6
			%h4.green
				= @event.start.strftime("%A, %B %e %Y")
				- if @event.start.to_date != @event.end.to_date
					\-
					%br
					= @event.end.strftime("%B %e, %Y")

			%table.event-details
				- if @event.start.strftime("%l:%M %P") != "12:00 am"
					%tr
						%td
							%h4
								Time:
						%td
							= "#{@event.start.strftime("%l:%M %P")} - #{@event.end.strftime("%l:%M %P")}"
				%tr
					%td
						%h4
							Place:
					%td
						= @event.location

				- if @event.contact.present?
					%tr
						%td
							%h4
								Contact:
						%td
							= link_to @event.contact, "mailto:#{@event.contact}"

				- if @event.price.present?
					%tr
						%td
							%h4
								Tickets:
						%td
							= number_to_currency @event.price
							- if @event.ticket_link.present?
								|
								= link_to "buy now", @event.ticket_link

			= @event.details.html_safe

.sidebar.pad
	= render "layouts/subnav"