- header ||= @page.spotlight_header

- if spotlight.present?
	%hr.tag{class: header[:color]}
	%img.tag{src:"/assets/#{header[:icon]}"}
	%h4.tag-headline{class: header[:color]}
		= editable "#{spotlight} Title" do
			= spotlight
	.indent
		= editable_image_tag "#{spotlight.gsub("'","")} Thumb", 300, 150
		= editable "#{spotlight} Body" do
			%br
			%strong.red Quam Elit Aenean Tristique et ala 
			%p 
				Nullam Vehicula Bibendum Erets Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. 
				%a.red.arrow{href:"#"} READ MORE