.body

	= editable_image_tag "page-#{@page.id}-header", 720, 340

	%hr.red
	%h1.red
		= @page.title

	= editable "Page #{@page.id} Body" do
		%p 
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.sidebar.pad
	= render "layouts/subnav"

	%hr.green
	%img.tag{src:"/assets/tag-cherries.png"}
	%h4.green.tag-headline Farmer Spotlight
	.indent
		= editable_image_tag "farmer-spotlight", 300, 150
		%br
		%strong.red Quam Elit Aenean Tristique et ala 
		%p 
			Nullam Vehicula Bibendum Erets Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. 
			%a.red.arrow{href:"#"} READ MORE