.body

	%hr.red
	%img.tag{src:"/assets/tag-directory.png"}
	%h1.red.tag-headline Market Directory

	%form#directory-search
		.row-fluid
			.span4
				%h4.green Search By
				%input{name: "keyword"}
			.span4
				%h4.green Sort By
				%select{name: "category"}
					%option Category
					- MerchantCategory.main.each do |mc|
						%option
							= mc.name
			.span4
				%h4 &nbsp;
				%select{name: "location"}
					%option Location
					- Merchant.locations.each do |location|
						%option
							= location

	= editable "Market Directory Intro" do
		%p Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo.

	#search-results.hide
		%hr.thin.red
		.pull-right{style: "margin-top:15px"}
			%a{href:"#", onclick: "$('#directory-search input').val('').keyup()"} Clear Search
		%h2.red 
			Search Results for
			%span.search-term
		%hr.thin.red
		.results

	- accordion_id = "accordion-main"
	%div.accordion{id: accordion_id}
		- MerchantCategory.main.each do |category|
			- next if category.children.empty?
			- accordion_id = "accordion-#{category.slug}"
			.accordion-group.main{id: accordion_id}
				.accordion-heading.main
					%a.accordion-toggle{"data-parent" => "##{accordion_id}", "data-toggle" => "collapse", :href => "#collapse-#{category.id}", style: "background-image:url('/assets/category-#{category.slug}.png')"}
						= category.name
				.accordion-body.collapse{id: "collapse-#{category.id}"}
					.accordion-inner
						= render "merchants/category_accordion", category: category
		

.sidebar.pad

	%hr.yellow
	%img.tag{src:"/assets/tag-fish.png"}
	%h4.yellow.tag-headline Farmer Spotlight
	.indent
		= editable_image_tag "market-facts", 300, 150
		= editable "market-facts" do
			%br
			%strong.red Quam Elit Aenean Tristique et ala 
			%p 
				Nullam Vehicula Bibendum Erets Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. 
				%a.red.arrow{href:"#"} READ MORE