.body
	= render "layouts/promos"

	%hr

	= editable "Homepage Header" do
		%center
			%h4.orange 
				Nulla vitae elit libero, a pharetra augue. 
				%br
				Donec ullamcorper nulla non metus auctor fringilla.

	%hr.tag.red
	%img.tag{src:"/assets/tag-clock.png"}
	%h2.red.tag-headline What's Happening
	%br
	.indent
		.row-fluid
			.span4
				= editable_image_tag "homepage-thumb", 260, 200
			.span8.with-thumb
				= editable "Homepage Body" do
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	

.sidebar
	.atrium
		= render "pages/spotlight", spotlight: "Atrium", header: {color: "red"}
	%hr.tag.green{style:"margin-top:220px"}
	%img.tag{src:"/assets/tag-tumbler.png"}
	%h4.green.tag-headline New on Tumblr
	= cache "tumbler feed", expires_in: 1.hour do
		.indent{style:"min-height: 255px;"}
			- doc = Nokogiri::HTML(open('http://blog.pikeplacemarket.org/rss'))
			%ul.feed
				- doc.css("item")[0..2].each do |item|
					%li
						- if item.css("description").first.content.match("<img")
							%a{href: item.css("guid").first.content}
								- img = item.css("description").first.content.split("<img")[1].split("src=\"").last.split('"').first
								.img{style:"background-image:url('#{img}')"}
								/ = image_tag item.css("description").first.content.split("<img")[1].split("src=\"").last.split('"').first
						- else
							.img{style:"background-image:url('/assets/default-blog-image.png')"}
							/ = image_tag "default-blog-image.png"
						%strong
							%a.grey{href: item.css("guid").first.content }
								= item.css("title").first.content
						/ %p 
						/ 	= item.css("description").first.content.gsub(%r{</?[^>]+?>}, '').split(" ")[0..10].join(" ")
						/ 	\...
						%a.more.pull-right.red.arrow{href: item.css("guid").first.content}
							Read More

	= render "pages/spotlight", spotlight: "What's Fresh", header: {icon: "tag-fish.png", color: "yellow"}