#promos.theme-default
	.nivoSlider
		- Promo.order("position").each do |promo|
			%a.promo{href: promo.link, id: "promo-#{promo.id}"}
				= image_tag promo.image.url(:large), width: 710, height: 445, title: "#promo-caption-#{promo.id}"

- Promo.order("position").each do |promo|
	.promo-caption.hide{id: "promo-caption-#{promo.id}"}
		= promo.caption.html_safe

= content_for :head do
	= stylesheet_link_tag		"/nivo-slider/themes/default/default.css", :media => "all"

	:javascript
		$(function(){
			$(".nivoSlider").nivoSlider({effect: 'fade', slices:3, directionNav:false, pauseTime:5000});
		});

:css
	.theme-default .nivoSlider{
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}