= render "layouts/head"
%body
	= yield :body_top
	- flash.each do |name, msg|
		%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
			%a.close{"data-dismiss" => "alert"} ×
			= msg.html_safe
	
	.container
		%ul.tags
			%li
				%a.twitter{href: "http://twitter.com/pike_place‎"}
			%li
				%a.pinterest{href: "http://pinterest.com/source/pikeplacemarket.org"}
			%li
				%a.facebook{href: "https://www.facebook.com/PublicMarketCenter"}
			%li
				%a.tumbler{href: "http://blog.pikeplacemarket.org"}
			%li
				%a.news{href: "/"}
			%li.connect-arrow
				%a{href: "#"}
					= image_tag "connect-arrow.png"

		.logo-header
			%a.logo{href:"/"}
				= image_tag "logo.gif"
			%a.ppm-foundation.pull-right{href: "/"}
				= image_tag "support-ppm-foundation.gif"
		.navbar.header
			= page_nav pages: Page.find("header").children, class: 'nav'
		.navbar.secondary
			= page_nav pages: Page.find("secondary").children, class: 'nav' do
				- if request.path != "/"
					%li
						= link_to "Market Directory", "/directory", class: "directory"
		.content
			= yield

	%footer
		.container
			.copyright
				&copy; 2013 Pike Place Market PDA
				%br
				Designed by DEI Creative

			.navbar
				= page_nav pages: Page.find("footer").children, class: 'footer nav'
